.grad1 {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(#0088FF, #FF00FF);
}

body {
    padding: 0;
    margin: 0;
}
div {
    padding: auto;
    margin: auto;
}

img {
    position: absolute;
    top: 250px;
    left: 750px;
    height: 400px;
    width: 400px;
}